{% load static %}

<section class="intro_section ds page_mainslider">
  <div class="flexslider" data-nav="false">
    <ul class="slides">

      <li>
        <img src="{% static 'images/slide01.jpg' %}" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3>
                      There is no other way except Jesus.
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="bold">
                      We love God.
                      <br> We believe in God.
                    </h2>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <a class="theme_button color1" href="about.html">Read more</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>

      <li>
        <img src="{% static 'images/slide02.jpg' %}" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3>
                      Living Hope For Real People
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="bold">
                      Where People Gather
                      <br> to Worship &amp; Share
                    </h2>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <a class="theme_button color1" href="about.html">Read more</a>
                  </div>
                </div>
                <!-- eof .slide_description -->
              </div>
              <!-- eof .slide_description_wrapper -->
            </div>
            <!-- eof .col-* -->
          </div>
          <!-- eof .row -->
        </div>
        <!-- eof .container -->
      </li>

      <!-- <li>
        <img src="{% static 'images/slide03.jpg' %}" alt="">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="slide_description_wrapper">
                <div class="slide_description">
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h3>
                      Building Holy and Healthy Lives
                    </h3>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <h2 class="bold">
                      We Build Hope
                      <br> and Grow Together
                    </h2>
                  </div>
                  <div class="intro-layer" data-animation="fadeInUp">
                    <a class="theme_button color1" href="about.html">Read more</a>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </li> -->

    </ul>
  </div>
  <!-- eof flexslider -->
</section>
