{% load static %}
{% url 'MOTS' as home %}
{% url 'blog' as blog %}
{% url 'contact_us' as contact_us %}
{% url 'testimonies' as testimonies %}

<header class="page_header header_white toggler_right with_bottom_border_container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 display_table">
        <div class="header_left_logo display_table_cell">
          <a href="./" class="logo top_logo">
            <!-- <img src="{% static 'images/logo.png' %}" alt=""> -->
            <img src="{{ org_links.organization.logo.url }}" alt="" style="width: 68px; {% if request.path != home %} filter: invert(100%); {% endif %}">
            <span class="logo_text">
              <strong class="playfair">{{ org_links.organization.organization_name }}</strong>
              <span class="small-text">Raising endtime saints</span>
            </span>
          </a>
        </div>

        <div class="header_mainmenu display_table_cell text-right">
          <!-- main nav start -->
          <nav class="mainmenu_wrapper">
            <ul class="mainmenu nav sf-menu">
              <li class = "{% if request.path == home %} active {% endif %}"><a href="{% url 'MOTS' %}">Home</a></li>
              <!-- blog -->
              <li class = "{% if request.path == blog %} active {% endif %}"><a href="{% url 'blog' %}">Blog</a></li>
              <!-- about -->
              <li class = "{% if request.path == blog %} active {% endif %}"><a href="{% url 'about' %}">About</a></li>
              <!-- pages -->
              <li class = "{% if request.path == contact_us %} active {% endif %}"><a href="{% url 'contact_us' %}"">Contact Us</a></li>
              <!-- gallery -->
              <li><a href="gallery-regular.html">Gallery</a></li>
              <!-- contacts -->
              <li class = "{% if request.path == testimonies %} active {% endif %}"><a href="{% url 'testimonies' %}"">Testimonies</a></li>
              <!-- eof contacts -->
            </ul>
          </nav>
          <!-- eof main nav -->
          <!-- header toggler -->
          <span class="toggle_menu">
            <span></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
